.feature-list {
  @include for-size(tablet-landscape) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include for-size(desktop) {
    justify-content: none;
  }

  .item {
    @include for-size(desktop) {
      margin-right: 30px;
      width: 270px;
      &:last-child {
        @include for-size(desktop) {
          margin-right: 0;
        }
      }
    }
  }

  .item:not(:first-child) {
    margin-top: 30px;
    @include for-size(tablet-landscape) {
      margin-top: 0;
    }
  }
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include for-size(tablet-portrait) {
    width: 450px;
    text-align: center;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
    text-align: start;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}

.text-feature {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  @include for-size(tablet-portrait) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}

.feature-list .item.detail::before {
  display: block;
  content: "";
  height: auto;
  width: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-image: url("../images/feature1.svg");
  background-color: #f5f4fa;
  background-position: center;

  @include for-size(tablet-portrait) {
    max-width: 450px;
  }

  @include for-size(tablet-landscape) {
    max-width: 354px;
  }
  @include for-size(desktop) {
    max-width: 270px;
  }
}

.feature-list .item.punctuality::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-image: url("../images/feature2.svg");
  background-color: #f5f4fa;
  background-position: center;

  @include for-size(tablet-portrait) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}

.feature-list .item.planning::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-image: url("../images/feature3.svg");
  background-color: #f5f4fa;
  background-position: center;

  @include for-size(tablet-portrait) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}

.feature-list .item.modern::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  margin-right: 0;
  background-repeat: no-repeat;
  background-image: url("../images/feature4.svg");
  background-color: #f5f4fa;
  background-position: center;

  @include for-size(tablet-portrait) {
    width: 450px;
  }

  @include for-size(tablet-landscape) {
    width: 354px;
  }
  @include for-size(desktop) {
    width: 270px;
  }
}
