.section {
  padding-top: 60px;
  padding-bottom: 60px;

  .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &.work {
    display: none;
  }
  &.team {
    background-color: $background-color;
  }
  &.clients {
    display: none;
  }
}
