.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding: 94px 0;
  }

  .section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    @include for-size(tablet-portrait) {
      margin-bottom: 30px;
    }
    @include for-size(tablet-landscape) {
      margin-bottom: 30px;
    }
    @include for-size(desktop) {
      margin-bottom: 50px;
    }
  }
  &.work {
    display: none;

    @include for-size(desktop) {
      display: block;
    }
  }
  &.team {
    background-color: $background-color;
  }
}
