.client-item {
  $items: 2;
  flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  @media screen and (min-width: 768px) {
    $items: 3;
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  }
  @media screen and (min-width: 1200px) {
    $items: 6;
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  }
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  color: $social-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
  }
}

.client-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }

  &:active {
    fill: currentColor;
  }
}
