.contact-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contact-item + .contact-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}

.contact-link {
  color: $secondary-text-color;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
  }
}

.mobile-icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }

  &:active {
    fill: currentColor;
  }
}

.mail-icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }

  &:active {
    fill: currentColor;
  }
}
