.feature-item {
  $items: 1;
  flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  @media screen and (min-width: 768px) {
    $items: 2;
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  }
  @media screen and (min-width: 1200px) {
    $items: 4;
    flex-basis: calc((100% - #{$indent} * (#{$items} - 1)) / #{$items});
  }
}

.feature-img {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  margin-bottom: 30px;

  background-color: $secondary-bcg-color;
  border-radius: 4px;
}

.feature-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-text {
  color: $secondary-text-color;
  line-height: 1.71;
}
