.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;
}

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address-content {
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo-footer {
  color: $primary-white-color;
  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

address {
  margin-top: 28px;
}

.address-direction {
  color: $primary-white-color;

  line-height: 1.71;
  font-style: normal;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 12px;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);

  line-height: 1.71;
  font-style: normal;

  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: $accent-color;
  }
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.footer-social-list {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  &:active {
    background-color: $accent-color;
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

.footer-form-content {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 0 auto;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.footer-input {
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: 1px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus {
    outline: $accent-color;
    border-color: $accent-color;
    color: $primary-white-color;
  }

  &:not(:placeholder-shown) {
    color: $primary-white-color;
  }
}

.btn-input {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  min-width: 200px;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 12px;
  }
}

.btn-input:hover .footer-form-svg,
.btn-input:focus .footer-form-svg {
  fill: $accent-color;
}

.footer-form-svg {
  margin-left: 10px;
  fill: $primary-white-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
