header .logo {
  color: $title-text-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  @include for-size(tablet-landscape) {
    margin-right: 88px;
  }

  @include for-size(desktop) {
    margin-right: 93px;
    font-size: 26px;
  }
}

footer .logo {
  color: $primary-white-color;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  @include for-size(desktop) {
    font-size: 26px;
  }
}
.logo > span {
  color: $accent-color;
}
