.logo {
  margin-right: 93px;

  color: $logo-black-color;

  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;

  text-decoration: none;
}

.logo-blue {
  color: $accent-color;
}
