.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primary-white-color;
  z-index: 999;

  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 18px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contact-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contact-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-tel {
  color: $accent-color;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-top: 64px;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mobile-social-item + .mobile-social-item {
  margin-left: 10px;
}

.mobile-social-item {
  position: relative;
  &:not(:last-child) {
    margin-right: 10px;
  }

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 10px;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.currentPage-mob {
  color: $accent-color;
}
