.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .container {
    margin-bottom: 40px;
    @include for-size(tablet-landscape) {
      margin-bottom: 0;
    }
  }
}
