.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-item .link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-white-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  & .social-item-svg {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link-item:hover .social-item-svg,
.link-item:focus .social-item-svg {
  fill: $primary-white-color;
}
