.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  text-align: center;

  & + .social-item {
    margin-left: 10px;
  }
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $social-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;
  }

  &:active {
    color: $primary-white-color;
    background-color: $accent-color;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
