$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$secondary-button-color: #f5f4fa;
$background-color: #f5f4fa;
$address-color: rgba(255, 255, 255, 0.6);
$footer-color: #2f303a;
